<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="viggo">
<title>太空人导航</title>
<meta name="keywords" content="新媒体,传统,网站大全,太空人">
<meta name="description" content="工作快捷工具导航">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
<link rel="shortcut icon" href="/static/favicon.ico" />
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/app.css">
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="/static/css/search.css">
<link rel="stylesheet" href="/static/css/linecons/css/linecons.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/hplus.js"></script>
<link href="/static/css/toastr.css" rel="stylesheet"/>
<script src="/static/js/toastr.js"></script>
<script src="/static/js/jquery.lazyload.min.js"></script>
</head>